<div class="d-flex flex-column shadow-sm mt-3 todo-list-container">
    <div class="todo-list-scroll">
        <!-- Header start here -->
        <div class="todo-list-header border-bottom inventory-grid bg-success">
            <!-- ID Header -->
            <div class="fw-semibold text-white">Sr. No.</div>

            <!-- Name Header -->
            <div class="fw-semibold text-white">Name</div>

            <!-- Email Header -->
            <div class="fw-semibold text-white">Email</div>

            <!-- Mobile Number Header -->
            <div class="fw-semibold text-white">Mobile Number</div>

            <!-- Action Header -->
            <div class="fw-semibold text-white">Action</div>
        </div>
        <!-- Header end here -->

        <!-- Row start here -->
        <div class="bg-white todo-list-screen">
            <div class="todo-list-row border-bottom inventory-grid">
                <!-- ID Row -->
                <div>1</div>

                <!-- Name Row -->
                <div>Rohit Jangid</div>

                <!-- Email Row -->
                <div>abc123@gmail.com</div>

                <!-- Mobile Number Row -->
                <div>1234567890</div>

                <!-- Action Row -->
                <div>Action</div>
            </div>
        </div>
        <!-- Row end here -->
    </div>
</div>