<div class="d-flex flex-column shadow-sm mt-3 todo-list-container">
    <div class="todo-list-scroll">
        <!-- Header start here -->
        <div class="todo-list-header border-bottom inventory-grid bg-success">
            <!-- ID Header -->
            <div class="fw-semibold text-white">Sr. No.</div>

            <!-- Name Header -->
            <div class="fw-semibold text-white">Name</div>

            <!-- Email Header -->
            <div class="fw-semibold text-white">Email</div>

            <!-- Mobile Number Header -->
            <div class="fw-semibold text-white">Mobile Number</div>

            <!-- Action Header -->
            <div class="fw-semibold text-white">Action</div>
        </div>
        <!-- Header end here -->

        <!-- Row start here -->
        <div class="bg-white todo-list-screen">
            <ng-container *ngFor="let todo of todoList">
                <div class="todo-list-row border-bottom inventory-grid">
                    <!-- ID Row -->
                    <div>{{todo?.id}}</div>

                    <!-- Name Row -->
                    <div>{{todo?.name}}</div>

                    <!-- Email Row -->
                    <div>{{todo?.emailId}}</div>

                    <!-- Mobile Number Row -->
                    <div>{{todo?.phoneNumber}}</div>

                    <!-- Action Row -->
                    <div>Action</div>
                </div>
            </ng-container>

        </div>
        <!-- Row end here -->
    </div>
</div>